body{
	margin: 0;
	padding:0;
}
h2{
	margin: 0;
	padding:0;
	border:0;
}
/*-------------------------------------------background-----------------------------------------------*/
.div-fondo{
	background-color: #aaa5;
}
/*-------------------------------------------upperSection-----------------------------------------------*/
.div-upperSection {
	display: grid;
	width:100%;
	height:30px;
}
.div-containerUpperSection{
	display: grid;
	grid-template-columns: 27% 73%;
	grid-template-rows: 100%;
	background-color:#aaa;
	width: 100%;
	height: 30px;
	position:fixed;
}
.div_div_button-menu1Parte1{
	display:grid;
	grid-column:1/2;
	grid-row:1/2;
	width:260px;
	height:100%;
	padding-top: 0;
	background-color:#a00;
	position: relative;
	z-index: 10;
	border: 0;
}
.div_div_button-menu1Parte1 h2{
	color:#444;
	display: grid;
	background-color:#a868;
	margin:0;
}
.div_div_button-menu1Parte2{
	padding-top:0;
	background-color: #009;
	grid-column:1/2;
	grid-row: 1/2;
	width:260px;
	height:100%;
	position: relative;
	z-index:20;
	overflow: hidden;
	border: 0;
}
.div_div_button-menu1Parte2:focus{
	z-index: 0;
	position:fixed;
	height: 100%;
	width:260px;
}
/*---------------------------------------------middleSection----------------------------------------------*/
div-middleSectionTitulo{
	background-color: #00f;
}
div-middleSectionTitulo h1{
	color:#55e;
}
/*---------------------------------------------footerSection---------------------------------------------*/
.div-footerSection{
	display: grid;
	grid-template-columns: repeat(3,33%);
	grid-template-rows: 99% 1%;
}
.div_div_footerFirstSection{
	margin:0;
	padding:0;
	display:grid;
	grid-column:1/2;
	grid-row:1/2;
}
.div_div_footerSecondSection{
	margin:0;
	padding:0;
	display:grid;
	grid-column:2/3;
	grid-row:1/2;
}
.div_div_footerThirdSection{
	margin:0;
	padding:0;
	display:grid;
	grid-column:3/4;
	grid-row:1/2;
};
